@charset "utf-8";
/* CSS Document */

body,form,div,img,table,a,font,radio,span,h1,h2,h3,h4{
	margin: 0px;
	font-size: 26px;
	color: #1F4A65;
	padding: 0px;
	border: 0px;
	font-family: "仿宋_GB2312";
	font-weight:bold; 
}
.clearLine{
	line-height: 30px;
	clear: both;
}
.clearPage{
	line-height: 1px;
	clear: both;
	page-break-after:always;
}

#container{
	position: relative;
	width: 305mm;
	clear: both;
	float: left;
	height: 192mm;
}
#p_name{
	position: absolute;
	top: 230px;
	left: 300px;
	font-weight: 900;
	}

#year_start{
	position:absolute;
	top:230px;
	left:660px;
	font-weight: bold;
	}

#month_start{
	position:absolute;
	top:230px;
	left:820px;
	font-weight: bold;
	}

#year_end{
	position:absolute;
	top:310px;
	left:230px;
	font-weight: bold;
	}
#month_end{
	position:absolute;
	top:310px;
	left:380px;
	font-weight: bold;
	}
#crsno{
	position:absolute;
	top:570px;
	left:250px;
	font-weight: bold;
	}

#c_school{
	position:absolute;
	top:310px;
	left:640px;
	font-weight: bold;
	}

#c_year{
	position:absolute;
	top:660px;
	left:780px;
	font-weight: 900;
	}

#c_month{
	position:absolute;
	top:660px;
	left:900px;
	font-weight: 900;
	}

#c_day{
	position:absolute;
	top:660px;
	left:990px;
	font-weight: 900;
	}
